/* Variables */
@font-face {
  font-family: "GothamBold";
  src: url(../fonts/GothamBold.otf);
  font-weight: normal;
  font-style: normal;
  display: swap;
}

@font-face {
  font-family: "GothamLight";
  src: url(../fonts/GothamLight.otf);
  font-weight: normal;
  font-style: normal;
  display: swap;
}

@font-face {
  font-family: "HelveticaNeueBold";
  src: url(../fonts/HelveticaNeueBold.otf);
  font-weight: normal;
  font-style: normal;
  display: swap;
}

@font-face {
  font-family: "HelveticaNeueLight";
  src: url(../fonts/HelveticaNeueLight.otf);
  font-weight: normal;
  font-style: normal;
  display: swap;
}

@font-face {
  font-family: "HelveticaNeueMedium";
  src: url(../fonts/HelveticaNeueMedium.otf);
  font-weight: normal;
  font-style: normal;
  display: swap;
}

/* Inheritance */
.carousel-container, .item-prev, .footer-nav,
.copyright, .user-options, .search-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* General styles */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

.sm-txt {
  font-size: 12px;
}

.xl-txt {
  font-size: 22px;
}

.xxl-txt {
  font-size: 40px;
}

h1 {
  font-family: "GothamBold";
}

h2 {
  font-family: "GothamLight";
}

.strong-txt {
  font-family: "HelveticaNeueBold";
  color: #383838;
}

body {
  font-family: "HelveticaNeueMedium";
  color: #383838;
  background-color: #e0e0e0;
}

.blackdarkbg {
  background-color: #383838;
  height: 60px;
}

.pink {
  color: #d35266;
}

.pink-bg {
  background-color: #d35266;
}

/* Header ========================= */
header {
  background-color: #d35266;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

header .navbar img {
  width: 50px;
}

header .navbar li {
  margin: 0 10px;
}

header .searchbar {
  width: 200px;
  margin: 0 5px;
}

header .text-muted:hover {
  color: #eeeeee !important;
}

/* Hots ads ===================== */
#carouselHotAds {
  margin-top: 114px;
  background-color: #fff;
}

#carouselHotAds .pink:hover {
  color: #d62741;
}

.carousel-button {
  width: auto;
}

.hotAds-img {
  width: 300px;
}

/* Items categories ================ */
.text-dark h3:hover {
  color: #808080;
}

.item-prev {
  border: #888888 solid 1px;
  background-color: #fff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dropdown-item:hover {
  background-color: #333333;
  color: #fff;
}

/* Footer ================ */
footer {
  background-color: #fff;
}

footer h4 {
  text-align: center;
  border-bottom: #d35266 solid 2px;
}

footer .pink:hover {
  color: #d62741;
}

.user-options-item {
  width: 150px;
}

.user-options {
  height: 200px;
}

/* checklist ================== */
#checklist {
  margin-top: 114px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#checklist .item-prop {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 150px;
          flex: 1 1 150px;
  margin: 0 auto;
}

/* items-list ================== */
.search-product .pink:hover {
  color: #d62741;
}

.hotAds-img {
  max-width: 300px;
  width: 90%;
}

@media screen and (min-width: 576px) {
  #carouselHotAds {
    margin-top: 192px;
  }
  #checklist {
    margin-top: 192px;
  }
}

@media screen and (min-width: 768px) {
  #items-list {
    margin-top: 192px;
    border-left: 1px solid;
  }
  #checklist .item-prop {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin: 0 10px;
  }
  .full-width {
    width: 100%;
  }
  .hotAds-img {
    width: 400px;
  }
  .item-prev {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 45%;
            flex: 1 0 45%;
  }
}

@media screen and (min-width: 992px) {
  .item-prev {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 23%;
            flex: 1 0 23%;
  }
  .item-prev h3 {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .item-prev {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 18%;
            flex: 1 0 18%;
  }
  .item-prev h3 {
    font-size: 20px;
  }
}
/*# sourceMappingURL=styles.css.map */