@media screen and (min-width: 768px) {
  #items-list {
    border-left: 1px solid;
  }

  #checklist {
    .item-prop {
      flex: 0 0 auto;
      margin: 0 10px;
    }
  }

  .full-width {
    width: 100%;
  }

  .hotAds-img {
    width: 400px;
  }

  .carousel-img {
    width: 400px;

    img {
      width: 400px;
    }
  }

  .item-prev {
    flex: 1 0 45%;
  }
}

@media screen and (min-width: 992px) {
  .item-prev {
    flex: 1 0 23%;

    h3 {
      font-size: 20px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .item-prev {
    flex: 1 0 18%;

    h3 {
      font-size: 20px;
    }
  }
}
