/* checklist ================== */

#checklist {
    margin-top: 114px;
    display: flex;
    flex-wrap: wrap;

    .item-prop {
        flex: 1 1 150px;
        margin: 0 auto;
    }    
}

/* items-list ================== */

.search-product {
    @extend %flex-column;   
    
    .pink:hover {
        color: #d62741;
    }
}

.hotAds-img {
    max-width: 300px;
    width: 90%;
}