/* Variables */

$maincolor: #d35266;
$light-dark: #888888;
$black-dark: #383838;
$mainfont-bold: "GothamBold";
$mainfont-light: "GothamLight";
$secondfont-bold: "HelveticaNeueBold";
$secondfont-light: "HelveticaNeueLight";
$secondfont-medium: "HelveticaNeueMedium";

// Fonts

@mixin font-face($font-family) {
    @font-face {
        font-family: $font-family;
        src: url(../fonts/#{$font-family}.otf);
        font-weight: normal;
        font-style: normal;
        display: swap;
    }
}

@include font-face($mainfont-bold);
@include font-face($mainfont-light);
@include font-face($secondfont-bold);
@include font-face($secondfont-light);
@include font-face($secondfont-medium);

/* Inheritance */

%flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

/* General styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.sm-txt {
    font-size: 12px;
}

.xl-txt {
    font-size: 22px;
}

.xxl-txt {
    font-size: 40px;
}

h1 {
    font-family: $mainfont-bold;
}

h2 {
    font-family: $mainfont-light;
}

.strong-txt {
    font-family: $secondfont-bold;
    color: $black-dark;
}

body {
    font-family: $secondfont-medium;
    color: $black-dark;
    background-color: #e0e0e0;
}

.blackdarkbg {
    background-color: $black-dark;
    height: 60px;    
}

.pink {
    color: $maincolor;
}

.pink-bg {
    background-color: $maincolor;
}

header {
    background-color: $maincolor;   

    .navbar {
        img{
            width: 50px;
        }

        li {
            margin: 0 10px;
        }
    }
}

/* Hots ads ===================== */

#carouselHotAds {
    background-color: #fff;
}

.hotAds-img {
    width: 200px;
}

/* Items categories ================ */

.item-prev {
    border: $light-dark solid 1px;
    background-color: #fff;
    @extend %flex-column;
}

@import 'queries';